<h1>{{siteTitle}}</h1>
<div ng-init="displayData()">
    <div class="pull-right hide">
        <a href="#" title="Refresh Page"><img src="icons/_restart.png" style="margin-right:15px;" /></a>
        <a href="#" ng-click="logout()" title="Logout"><img src="icons/_logout.png" /></a>
    </div>

    <h2 class="span4">{{wscount}} websites available for development</h2>
<input type="text" ng-model="domainname" tabindex="1" placeholder="Filter Projects"/>
<!--<input type="text" ng-model="explorer" ng-show="domainname" tabindex="2" placeholder="Filter Explorer" />-->
    <div class="" ng-show="explorer">
    <hr/>
    <h1>Explorer triggered</h1>
    <span>dev in progress</span>
    </hr>
    </div>
<div ng-model="production" class="productionwebsite">
    <div ng-repeat="website in websites | filter:domainname" class="website-thumb col-md-2" tabindex="{{$index + 3}}">
        <a  class="project-link" href="/{{website}}" target="_blank">{{website}}</a>
    </div>
</div>
<div class="col-md-12 hide">
<button class="btn btn-success"  ng-click="launchSite(production)">Launch Site</button>
</div>
</div>
