* { margin:0; padding:0; }
img, fieldset { border:0; }
select, input, textarea { font: 1em/1.5em Verdana, Arial, Helvetica, sans-serif; }

body {

	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:.75em;
	
}

html { background:#fff; }

a:link, a:visited {
	text-decoration:none;
	color:#000;
}
a:hover,a:active {
	text-decoration:underline;
}



#error {
	position:absolute;
	top:350px;
	margin-left:1em;
	width:270px;
	color:#C00;
	font-weight:bold;
}

#imgPreview {
	left:350px;
	line-height:100px;
	position:absolute;
	text-align:center;
	top:220px;
	width:130px;
}

#imgPreview img { vertical-align:middle; }

#footer {
	clear:both;
	color:#6E6E6E;
	padding:2em .5em .5em;
	font-size:.8em;
}

	#footer ul { list-style-type:none; margin-top:4px; }
	#footer img { vertical-align:middle; }

	#footer ul li { display:inline; border-left:1px solid #CCC; padding-left:4px; }
	#footer li:first-child { border:0; }
	#footer #stats { visibility:hidden; }
	#footer #stats div { display:inline; }
	#footer #stats img { height:1px; }
	




#generator {
	background:#F9D955 url(generator-back.png) repeat-x left top;
	width:473px;
	float:left;
	position:relative;
}

	#generator h2 {
		background: url(generator.gif) repeat-x left top;
		height:39px;
		text-indent:-1000em;
		margin-bottom:12px;
	}
	#generator fieldset {
		background: url(generator-corner.gif) no-repeat right bottom;
		height:254px;
	}
	
	#generator label {
		float:left;
		font-weight:bold;
		width:12em;
		margin-left:12px;
	}
	#generator label.sort { width:11em; }
	#generator label.after { float:none; font-weight:normal; margin:0; width:auto; }
	
	#generator p { line-height:2.2em; }
	#generator span { float:left; width:1em; }
	#generator select { width:242px; }
	#generator input { padding:1px; width:12em; line-height:normal; }
	#generator #trans { margin:0 0 0 12px; width:auto; }
	
	#generator #layer {
		height:20px;
		left:156px;
		position:absolute;
		top:54px;
		width:242px;
	}
	
	#generator #indicator {
		position:absolute;
		left:140px;
		top:180px;
		visibility:hidden;
	}

	#generator #generateit {
		width:210px;
		height:31px;
		float:right;
		margin:50px 12px 0 0;
	}
	
	#generator #typelist {
		background:#FFF;
		border:1px solid #868686;
		height:220px;
		left:156px;
		top:73px;
		overflow:auto;
		position:absolute;
		width:240px;
		display:none;
	}
	
		#generator #typelist a {
			display:none;
			text-align:center;
			padding:10px 0;
		}
		
		#generator #typelist a:hover {
			background:#DDD;
		}
	
#pickerContainer{

	width:475px;
	text-align:center;
	margin:10px auto;
}
#color-picker {
	position:absolute;
	top:0px;
	left:440px;
	background: url(color-picker.png) no-repeat left top;
	height:258px;
	width:266px;
	display:none;
	border:0;
}

	#close {
		position:absolute;
		right:-8px;
		top:-10px;
		height:26px;
		width:26px;
		cursor:pointer;
	}

	
.boxIndent {
border:1px solid #CCCCCC;
font-family:verdana,arial,helvetica,sans-serif;
font-size:12px;
margin:10px auto;
padding:3px 5px;
color:#666666;
width:600px;
text-align:center;
}
h1 {
color:#999999;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:18pt;
text-align:center;
}